.button {
	font-family: var(--font);
	border: none;
	cursor: pointer;
	transition: background 0.3s ease;
	color: var(--white-color);
	border-radius: 29px;
	font-style: normal;
}

.small {
	font-size: 16px;
	font-weight: 400;
	padding: 10px 25px 14px 25px;
}

.big {
	font-size: 15px;
	font-weight: 600;
	padding: 20px 75px 24px 75px;
	text-transform: uppercase;
	box-shadow: 0 10px 40px 0 rgba(122, 129, 190, 0.16);
}

.accent {
	background: var(--primary-color);
}

.accent:hover {
	background: var(--primary-hover-color);
}
