:root {
	/* Colors */
	--primary-color: #fe724c;
	--primary-hover-color: #ff5b2e;
	--white-color: #ffffff;
	--text-color: #000000;
	--text-secondary-color: #5b5b5e;
	--devider-color: #d4d6e0;

	/* Fonts */
	--font: 'Open Sans', sans-serif;
}

body {
	font-family: var(--font);
}
