:root {
	/* Colors */
	--primary-color: #fe724c;
	--primary-hover-color: #ff5b2e;
	--error-background-color: #ffc529;
	--white-color: #ffffff;
	--text-color: #000000;
	--text-secondary-color: #5b5b5e;
	--text-color-grey: #c4c4c4;
	--text-color-light-grey: #9ea1b1;
	--divider-color: #d4d6e0;
	--divider-light-color: #f1f2f3;
	--bg-color-grey: #fcfcfd;
	--bg-color-light-grey: #efefef;

	/* Fonts */
	--font: 'Open Sans', sans-serif;
}

body {
	font-family: var(--font);
}
